<div class="container container-fluid">
    <h2>List of Products</h2>
    <br>
    <div>
        <div style="float: left;">
            <label for="txtSearch">Filter By: &nbsp;</label>
            <input type="text" id="txtSearch" #inputFilter [value]="filterText"
                (input)="updateFilterText(inputFilter.value)">
        </div>
        <div style="float: right;">
            <label for="ddlSort">Sort By: &nbsp;</label>
            <select id="ddlSort" (change)="updateChoice(inputChoice.options[inputChoice.selectedIndex].value)"
                #inputChoice>
                <option selected disabled>--select--</option>
                <option *ngFor="let item of sortChoices">
                    {{item}}
                </option>
            </select>
        </div>
    </div>
    <br>
    <table class="table table-hover" *ngIf="products.length>0">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Rating</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="table-dark">
            <tr *ngFor="let p of products|sortProduct:choice|filterproduct:filterText">
                <td>
                    <img class="image-style" [src]="p.imageUrl" alt="NA" [title]="p.productName">
                </td>
                <td>
                    {{p.productName|uppercase}}
                </td>
                <td>
                    {{p.price|currency:'INR'}}
                </td>
                <td>
                    {{p.starRating}}
                </td>
                <td>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>